<h2>Infos</h2>
<table>
  <tr>
    <th>Type</th>
    <th>Category</th>
    <th>Data</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<%= render @crm_contact.crm_contact_infos %>
<%= render "crm_contact_infos/form" %>
</table>
